<?xml version="1.0"?>
<module xmlns="http://schema.slothsoft.net/farah/module" xmlns:sfm="http://schema.slothsoft.net/farah/module">
  <!--
Farah Module Manifest

Module: mtg
Vendor: slothsoft
Farah ID: farah://slothsoft@mtg
Composer ID: slothsoft/mtg

Homepage: http://farah.slothsoft.net/modules/mtg
Packagist: https://packagist.org/packages/slothsoft/mtg
GitHub: https://github.com/Faulo/slothsoft-mtg

Llo
-->
  <default-configuration/>
  <assets>
    <resource-directory name="data" path="data" type="application/x-php"/>
    <resource-directory name="css" path="stylesheet" type="text/css"/>
    <resource-directory name="js" path="script" type="application/javascript"/>
    <resource-directory name="xsl" path="template" type="application/xslt+xml"/>
    <resource-directory name="dictionary" path="dictionary" type="application/xml"/>
    <resource-directory name="pages" path="pages" type="application/xml"/>
    <fragment name="index">
      <use-template ref="xsl/_index"/>
      <include-fragment ref="default"/>
      <use-document ref="chat"/>
      <use-document ref="static/news"/>
    </fragment>
    <fragment name="player">
      <use-document ref="data/httpConfig"/>
      <use-template ref="xsl/_player"/>
      <include-fragment ref="default"/>
    </fragment>
    <fragment name="deck">
      <use-document ref="data/httpConfig"/>
      <use-template ref="xsl/_deck"/>
      <use-document ref="data/deck"/>
      <include-fragment ref="default"/>
    </fragment>
    <fragment name="mcm">
      <use-template ref="xsl/_mcm"/>
      <use-document ref="data/search"/>
      <include-fragment ref="default"/>
    </fragment>
    <fragment name="dci">
      <use-template ref="xsl/_dci"/>
      <use-document ref="data/dci"/>
      <include-fragment ref="default"/>
      <use-document ref="dci.timeline.graph"/>
    </fragment>
    <fragment name="dci.timeline">
      <use-template ref="xsl/_dci.timeline"/>
      <include-fragment ref="default"/>
      <use-document ref="dci.timeline.graph"/>
    </fragment>
    <fragment name="dci.timeline.graph">
      <use-document ref="data/dci"/>
      <use-document ref="data/sets"/>
      <use-template ref="xsl/_dci.timeline.graph"/>
    </fragment>
    <fragment name="deck-edit">
      <use-document ref="data/httpConfig"/>
      <use-document ref="data/deck.edit"/>
    </fragment>
    <fragment name="print">
      <param name="standalone" scope="global"/>
      <use-template ref="xsl/_print"/>
      <use-document ref="data/print"/>
    </fragment>
    <fragment name="print-wizards">
      <param name="standalone" scope="global"/>
      <use-template ref="xsl/_print"/>
      <use-document ref="data/print-wizards"/>
    </fragment>
    <fragment name="show">
      <param name="standalone" scope="global"/>
      <use-template ref="xsl/_deck"/>
      <use-document ref="data/show"/>
      <include-fragment ref="default"/>
    </fragment>
    <fragment name="decklist">
      <param name="standalone" scope="global"/>
      <use-template ref="xsl/_decklist"/>
      <use-document ref="data/show"/>
    </fragment>
    <fragment name="manager">
      <use-template ref="xsl/_manager"/>
      <include-fragment ref="default"/>
      <include-fragment ref="//slothsoft@core/DOM"/>
      <use-script ref="js/MTG"/>
      <use-script ref="js/MTG.Manager"/>
      <use-script ref="js/MTG.Deck"/>
    </fragment>
    <fragment name="chat">
      <param name="chat-database" value="mtg"/>
      <use-template ref="//slothsoft@chat/xsl/shoutbox"/>
      <use-document as="chat" ref="//slothsoft@chat/default"/>
    </fragment>
    <fragment name="default">
      <use-document ref="//slothsoft@core/static/sites"/>
      <use-stylesheet ref="//slothsoft@slothsoft/css/default"/>
      <use-stylesheet ref="//slothsoft@slothsoft/css/fonts"/>
      <use-stylesheet ref="css/default"/>
      <fragment name="/core/HTML5"/>
      <fragment name="/core/XPath"/>
      <use-script ref="js/ImageCache"/>
    </fragment>
    <fragment name="bill">
      <use-document ref="data/bill"/>
      <use-template ref="xsl/_bill"/>
      <include-fragment ref="default"/>
    </fragment>
    <fragment name="wizards">
      <use-template ref="xsl/_wizards"/>
      <param name="standalone" scope="global"/>
    </fragment>
    <fragment name="prerelease">
      <use-document ref="static/prerelease"/>
      <use-template ref="xsl/_prerelease"/>
      <include-fragment ref="default"/>
    </fragment>
    <fragment name="tokens">
      <use-document ref="static/custom-sets"/>
      <use-template ref="xsl/_tokens"/>
      <include-fragment ref="default"/>
    </fragment>
    <fragment name="reviews">
      <use-document ref="data/oracle"/>
      <use-document ref="data/reviews"/>
      <use-document ref="static/reviews"/>
      <use-template ref="xsl/_reviews"/>
      <include-fragment ref="default"/>
    </fragment>
    <fragment name="booster">
      <use-document ref="data/httpConfig"/>
      <use-template ref="xsl/_booster"/>
      <use-document ref="data/booster"/>
      <include-fragment ref="default"/>
    </fragment>
    <fragment name="prices">
      <use-template ref="xsl/_prices"/>
      <use-document ref="data/prices"/>
      <include-fragment ref="default"/>
    </fragment>
    <fragment name="search">
      <use-document ref="data/httpConfig"/>
      <use-template ref="xsl/_search"/>
      <use-document ref="data/oracle"/>
      <include-fragment ref="default"/>
    </fragment>
    <fragment name="events">
      <use-document ref="data/httpConfig"/>
      <include-fragment ref="//slothsoft@slothsoft/default"/>
      <use-template ref="xsl/_events"/>
      <use-document ref="data/events"/>
      <include-fragment ref="default"/>
    </fragment>
    <directory name="static">
      <resource name="bill" path="bill.csv" type="text/csv">
        <options del="&#9;" output="thead"/>
      </resource>
      <resource name="sites" path="sites.xml" type="application/xml"/>
      <resource name="sites.players" path="sites.players.xml" type="application/xml"/>
      <resource name="news" path="news.xhtml" type="application/xhtml+xml"/>
      <resource name="samlWidget" path="samlWidget.xhtml" type="application/xhtml+xml"/>
      <resource name="prerelease" path="prerelease.xml" type="application/xml"/>
      <resource-directory name="players" path="players" type="application/json"/>
      <resource-directory name="dci-log" path="dci" type="application/xml"/>
      <resource-directory name="misc" path="misc" type="*/*"/>
      <resource-directory name="reviews" path="reviews" type="application/json"/>
      <resource name="rules-comp" path="rules/MagicCompRules_20150717.txt" type="text/plain"/>
      <resource name="rules-mtr" path="rules/mtg_mtr_17jul15_en_0.pdf" type="application/pdf"/>
      <resource name="rules-ipg" path="rules/mtg_ipg_17jul15_en.pdf" type="application/pdf"/>
      <resource name="custom-border" path="custom-cards/border.png" type="image/png"/>
      <resource-directory name="custom-cards" path="custom-cards" type="image/png"/>
      <resource-directory name="custom-sets" path="custom-sets" type="text/html"/>
      <resource name="events" path="events.xml" type="application/xml"/>
      <resource name="oracle" path="oracle.xml" type="application/xml"/>
    </directory>
  </assets>
</module>
